{
    "mqtt_host": "brokerIP",
    "mqtt_port": "1883",
    "mqtt_port": "keepalive",
    "mqtt_clientid": "knx2mqtt",
    "mqtt_user": "knx2mqtt",
    "mqtt_password": "t0p_s3cr3t",
    "mqtt_topic": "bus/knx",
    "knx_host": "10.0.0.11",
    "knx_individual_address": "15.15.250",
    "knx_no_queue": "true",
    "verbose": "false",
    "items": [
        {
            "address": "4/0/11",
            "type": "DPTBinary",
            "mqtt_subscribe": "true"
        },
        {
            "address": "4/0/21",
            "type": "DPTUpDown"
        },
        {
            "address": "5/0/11",
            "type": "DPTTemperature"
        },
        {
            "address": "5/0/17",
            "type": "DPTHumidity"
        },
        {
            "address": "5/0/18",
            "type": "DPTPartsPerMillion"
        }
   ]
}
